<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--扫描加载处理器-->
    <context:component-scan base-package="com.yaorange.ssm.controller"/>

    <!--配置注解驱动加载-->
    <mvc:annotation-driven/>

    <mvc:resources mapping="/layui" location="/layui"/>
    <mvc:default-servlet-handler/>


    <!--可选配置：-->
    <!--配置视图解析器-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--配置跨域请求-->
    <mvc:cors>
        <mvc:mapping path="/**" allowed-origins="*" allowed-methods="*" allowed-headers="*"/>
    </mvc:cors>
    <!--配置文件上传-->
    <!--配置全局异常处理器-->
    <!--配置后端校验-->
    <!--配置基于FastJson的消息转换器-->
</beans>
